* {
    cursor: url("/assets/knight_cur.png"), auto;
}

body {
    background-color: #151515;
    font-family: "Source Code Pro", monospace;
    color: #ffffff;
    height: 100vh;
}

.trispace-1 {
    font-family: "Trispace", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.title {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
}

.title:hover {
    cursor: url("/assets/knight_cur.png"), auto;
    color: #ff7300;
}

nav {
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
}

.nav-item {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 200;
    padding-top: 10pt;
    padding-bottom: 10pt;
    
}

.nav-item.active {
    color: #ff7300;
    font-weight: 600;
    rotate: 10deg;
    cursor: url("/assets/knight_cur.png"), auto;
    animation: bounce 1s ease-in-out infinite;
}

.nav-item.active:hover {
    color: grey;
    animation: none;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0) rotate(10deg);
    }
    50% {
        transform: translateY(-10px) rotate(10deg);
    }
}

.nav-item:hover {
    color: #ff7300;
    font-weight: 600;
    rotate: 10deg;
    cursor: url("/assets/knight_cur.png"), auto;
}

.hmove {
    display: flex;
    gap: 10pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
}

@keyframes tickerh {
    0% { transform: translatex(100%); }
    100% { transform: translatex(-20%); }
  }
  .hmove { animation: tickerh linear 10s infinite; }

  .hmove:hover { animation-play-state: paused; }

.gallery-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
}


.frame-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 15px;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.frame-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

.frame-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.frame {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.test {
    width: 90%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
}

.item-info {
    z-index: 10000;
    width: fit-content;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 5px 10px;
    color: white;
    font-weight: 100;
    margin-top: 205px;
    font-style: italic;
    font-size: 9pt;
}

.frame-item:hover .item-info {
    opacity: 1;
}

.frame-item:hover{
    filter: brightness(1.1);
    animation: float 3s ease-in-out infinite;
}

.image {
    position: absolute;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

#brown {
    width: 120%;
    rotate: 90deg;
}

#brown-info {
    margin-top: 225px;
}

#floral {
    width: 120%;

}


#floral-test {
    width: 83%;
    height: 83%;
}

#floral-item {
    margin-left: 20px;
    margin-right: 20px;
}

#golden-test {
    width: 80%;
    height: 100%;
    border-radius: 16pt;
}

#golden {
    height: 120%;
    width: 90%;
    margin-top: -20px;
}

#golden-info {
    margin-top: 225px;
}

.music-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    cursor: url("/assets/knight_cur.png"), auto;
}

.music-wrapper:hover {
    filter: brightness(1.1);
    animation: float 3s ease-in-out infinite;
}

.spotify {
    cursor: url("/assets/knight_cur.png"), auto;
}

.spotify:hover {
    cursor: url("/assets/knight_cur.png"), auto;

}

#audio {
    border-radius: 12pt; 
    cursor: url("/assets/knight_cur.png"), auto;
}


.post-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    cursor: url("/assets/knight_cur.png"), auto;
}

.post {
   justify-items: center;
   align-items: center; 
}

.post-number {
    color:#ff7300;
}

.post-link {
    text-decoration: none;
    color: #ffffff;
    cursor: url("/assets/knight_cur.png"), auto;
}

.post-link:hover {
    color: #ff7300;
    text-decoration: underline;
}

.posts-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    cursor: url("/assets/knight_cur.png"), auto;
}